/* Hero Section */
.about-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/secondary-header-img.jpg");
    height: 30vh;
    background-position: center;
    background-size: cover;
    margin-top: 10px;

    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1rem;
    }
}

/* About Section */
.about {
    margin: 50px 0 100px 0;
}

.about-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin-top: 20px;
        text-align: center;
    }
}

/* Choose Us Section */
.chooseUs-section {
    margin: 100px 0;
}

.chooseUs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.chooseUs-headings {
    p {
        margin-top: 20px;
    }
}
.reason {
    margin: 30px 0;
    display: flex;
    align-items: center;

    h3 {
        color: $dark;
    }
}

.reason-content {
    margin-left: 20px;
}

/* Meet the owner section */
.owner {
    margin: 100px 0;
}

.owner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.owner-img img {
    height: auto;
    width: 400px;
}

.owner-content {
    display: flex;
    flex-direction: column;

    p {
        margin-top: 20px;
    }
}

/* Media Queries */
/* Tablet */
@media screen and (max-width: 800px) { 
    .about-hero {
        height: 20vh;
    }

    
}

/* Phone */
@media screen and (max-width: 580px) {
    .chooseUs-container, .owner-container  {
        grid-template-columns: 1fr;   
    }

    .owner-img {
        text-align: center;
    }
    
}