.btn {
    width: 115px;
    font-size: 1rem;
    background-color: $green;
    color: $white;
    padding: 9px 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn-secondary {
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
}

.apply-btn {
    margin: 20px 0 0 0;
}

/* Hover */
.btn:hover {
    
}