.btn {
    width: 115px;
    font-size: 1rem;
    background-color: $green;
    color: $white;
    padding: 9px 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    -webkit-appearance: none;
}

.btn-secondary {
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    width: 115px;
    font-size: 1rem;
    padding: 9px 18px;
    border-radius: 7px;
    cursor: pointer;
    -webkit-appearance: none;
}

.apply-btn {
    margin: 20px 0 0 0;
}

/* Hover */
/*main btn */
.btn:hover {
    background-color: $dark-green;
}

/* Secondary */
.btn-secondary:hover {
    color: $green;
    border: 2px solid $green;
}