/* Hero Section */
.contact-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/secondary-header-img.jpg");
    height: 30vh;
    background-position: center;
    background-size: cover;
    margin-top: 10px;

    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1rem;
    }
}

.contact-section {
    margin: 50px 0;
}

.form-section-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr .5fr;
    grid-template-rows: 1fr;
    gap: 50px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.contact-headings {
    margin-bottom: 30px;

    p {
        margin-top: 10px;
    }
}

/* Form Styling */
.text-field {
    padding: 10px 5px;
    background-color: #f1f1f1;
    border:none;
    border-radius: 5px;
}

.contact-name, .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
    gap: 10px;
}

.contact-message {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.message {
    height: 100px;
}

.contact-btn {
    margin-top: 30px;
}

.info-section {
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: solid 2px #d3d3d3;
    border-radius: 5px;

    h2 {
        margin-bottom: 30px;
    }
}

.info {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    
    i {
        margin-right: 20px;
    }
}

/* Map */
.map {
    text-align: center;
    img {
        height: auto;
        width: 100%;
    }
}

/* Media Queries */
/* Small Desktop */
@media screen and (max-width: 1024px) {
    .contact-hero {
        height: 20vh;
    }

    .form-section-wrapper {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }

    .info-section {
        height: auto;
    }    
}

/* Phone */
@media screen and (max-width: 580px) {
    .contact-name, .contact-info {
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px 0;
    }
}