@import "utilities";
@import "buttons";
@import "about";
@import "services";
@import "contact";
@import "faq";
@import "apply";

/* HOMEPAGE STYLING */

/* Quick Info Section */
.quick-info {
    background-color: $dark;
    color: $white;
    padding: 10px 0 10px 0;
    height: auto;
}

.info-container {
    display: flex;
    justify-content: flex-end;
}

.hours, .location, .phone {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 10px 0 10px;
}

.info-text {
    margin-left: 10px;
}

/* Header / NAV Section */
.header {
    margin: 20px 0 0 0; 
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-logo {
    flex-grow: 1;
    display: block;
}

.nav-logo img {
    height: auto;
    width: 125px;
}

.nav-links {
    font-size: 1.2rem;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: $dark;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Hero Section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/main-header-img.jpg");
    height: 50vh;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.hero-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-p {
    margin: 0px 0 20px 0;
    color: $white;
    font-size: 1.5rem;
    font-weight: 300;
}

.btn-wm {
    margin-right: 20px;
}

/* What We Do Section */
.wwd-section {
    margin: 50px 0 100px 0;
}

.wwd-headings {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 1.3rem;
        font-weight: 300;
        text-align: center;
    }
}

.wwd-services-container {
    margin: 3.5rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.wwd-service-card {
    text-align: center;
}

.wwd-service-icon {
    width: 60px;
}

.wwd-service-h3 {
    color: $dark;
    margin: 10px 0 15px 0;
}

/* Family Section */
.family {
    margin: 100px 0;
}

.family-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.family-content {
    display: flex;
    flex-direction: column;
    width: 50%;

    p {
        width: 75%;
        margin-top: 20px;
    }
}

.family-img {
    width: 50%;
    text-align: center;

    img {
        height: auto;
        width: 450px;
    }
}

/* Photo Slider Section */
.slider {
    margin: 100px 0 0;
    padding: 20px 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1442' height='560' preserveAspectRatio='none' viewBox='0 0 1442 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1072%26quot%3b)' fill='none'%3e%3crect width='1442' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1079' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1079' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1079' x='1440' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1072'%3e%3crect width='1442' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1075'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1078'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1076'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1073'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1074'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1077'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1079'%3e%3cuse xlink:href='%23SvgjsPath1073' x='30' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='30' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='30' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='30' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='30' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='30' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='30' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='30' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='30' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='30' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='90' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='90' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='90' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='90' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='90' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='90' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='90' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='90' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='90' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='90' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='150' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='150' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='150' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='150' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='150' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='150' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='210' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='210' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='210' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='210' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='210' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='210' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='210' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='210' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='210' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='210' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='270' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='270' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='270' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='270' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='270' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='270' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='270' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='270' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='270' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='270' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='330' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='330' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='330' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='330' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='330' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='330' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='330' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='330' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='330' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='330' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='390' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='390' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='390' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='390' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='390' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='390' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='390' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='390' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='390' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='390' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='450' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='450' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='450' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='450' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='450' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='450' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='450' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='450' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='450' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='450' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='510' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='510' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='510' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='510' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='510' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='510' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='510' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='510' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='510' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='510' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='570' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='570' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='570' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='570' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='570' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='570' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='570' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='570' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='570' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='570' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='630' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='630' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='630' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='630' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='630' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='630' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='630' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='630' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='630' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='630' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='690' y='30' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='690' y='90' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='690' y='150' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='690' y='210' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='690' y='270' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='690' y='330' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='690' y='390' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='690' y='450' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='690' y='510' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='690' y='570' stroke='rgba(205%2c 205%2c 205%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

.photo-heading {
    text-align: center;
    margin: 0px 0 20px 0;
}

/* Slideshow container */
.slider-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    text-align: center;
  }

  .mySlides img {
      height: auto;
      width: 500px;
  }

  /* Buttons */
  .prev img, .next img {
    height: 50px;
    width: 50px;
  }

  .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* dots */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 30px 2px 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active-dot, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* Numbers Section */
.numbers {
    margin: 0px 0;
    background-color: $green;
    
}

.numbers-container {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.projects, .clients, .employees {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers-h2, .numbers-p {
    color: $white;
}

.numbers-p {
    font-size: 3rem;
}

/* work Section */
.work {
    margin: 100px 0;
}

.work-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.work-content {
    display: flex;
    flex-direction: column;
    padding: 0 0px;
    width: 50%;

    p {
        width: 75%;
        margin-top: 20px;
    }
}

.work-img {
    width: 50%;
    text-align: center;

    img {
        height: auto;
        width: 400px;
    }
}

/* Newsletter Section */
.newsletter {
    margin: 100px 0 0 0;
    background-color: $green;
    
}

.newsletter-container {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.newsletter-h2 {
    color: $white;
}

.newsletter-button-container, .Newsletter-form {
    display: flex;
    justify-content: center;
}

.email-input {
    height: 50px;
    width: 15rem;
    padding: 10px;
    border: none;
    border-radius: 7px 0px 0px 7px;
}

.newsletter-btn {
    border: none;
    color: $white;
    background-color: $dark-green;
    padding: 10px;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
}

/* Footer Section */
footer {
    margin: 0;
    padding: 30px 0;
    background-color: $dark;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    h3 {
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.col-1 img {
    height: auto;
    width: 125px;
    margin-bottom: 20px;
}

.col-2, .col-3, .col-4 {
    display: flex;
    flex-direction: column;
}

.col-2 a, .col-3 li, .footer-p {
    color: $white;
    font-weight: 300; 
}

.footer-ul, .footer-contact-container {
    margin-top: 30px;
}

.footer-phone, .email, .facebook {
    display: flex;
    align-items: center;
}

.email {
    margin: 20px 0;
}

.wm {
    margin-left: 10px;
}

/* Copyright */
.copyright {
    background-color: $darker;
    color: $white;
}

.copyright-container {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        font-size: 1rem;
        font-weight: 400; 
    }

    p {
        font-size: 0.9rem;
        font-weight: 200;
    }
}

/* MUST BE AT BOTTOM */
@import "mediaqueries";